# This is a compilation of all the libraries that are used in the previous 
# Core dependencies
numpy
scipy

# For optimization and machine learning (used by matmul)
jax
jaxlib
optax

# For symbolic mathematics (used by uncertainty_ineq)
sympy

# For progress bars
tqdm